@import "variables";

.tree, .tree ul {
  margin:0;
  padding:0;
  list-style:none;
}

.tree {
  ul {
    margin-left:1em;
    position:relative;

    &:before {
      content:"";
      display:block;
      width:0;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      border-left:1px solid;
    }

    ul {
      margin-left:.5em;
    }

    li {
      &:before {
        content:"";
        display:block;
        width:10px;
        height:0;
        border-top:1px solid;
        margin-top:-1px;
        position:absolute;
        top:1em;
        left:0;
      }

      &:last-child::before {
        background-color: #2d353d;
        height:auto;
        top:1em;
        bottom:0;
      }
    }
  }

  li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:$text-color;
    font-weight:700;
    position:relative;
    white-space: nowrap;
  }
}

.modal .tree ul li:last-child:before {
  background:#374049;
}

.tree-selectable {
  padding-left: 10px;

  &:hover {
    background-color: $hover-bg;
    cursor: pointer;
  }

  &.selected {
    background-color: $selected-bg;
  }
}

.tree.tree-links {
  li {
    margin: 4px 0;
    font-size: 14px;

    span.label-pill {
      font-size: 12px;
    }
  }
}
