@import "variables";
@import "pixeladmin-override";

@import "utilities";

@import "treelist";
@import "permission";
@import "list-blocks";

@import "systemfont";

@import "mcore";

body {
  font-family: "system-ui", sans-serif;
}

.panel-footer .pagination {
  margin: 0;
}

.panel-heading-controls > form {
  width: 100%;
}

i.separator {
  margin: 0 10px;
}

i + span, span + i {
  margin-left: 4px;
}

// X-Small (Phone) only
@media(max-width: $screen-xs-max) {
  .page-breadcrumb {
    display: none;
  }

  .px-content {
    margin-bottom: 0;
  }

  .px-footer {
    display: none;
  }
}

// X-Small (Phone) to Small (Tablet)
@media(max-width: $screen-sm-max) {
  .input-group-btn button {
    width: 36px;

    i + span {
      display: none;
    }
  }
}

// Medium (Laptop) up
@media(min-width: $screen-md-min) {
  .input-group-btn > button, .panel-footer > button {
    text-align: left;

    > span {
      min-width: 95px;
    }
  }
}
